.YCC {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aquamarine;
  padding: 1.5rem;
}

.YCC__h1 {
  font-size: 3rem;
  margin: 4rem 0;
}

.YCC__h2 {
  margin: 1rem 0;
}