.Header {
  width: 100%;
  height: 4.68rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Header__img {
  height: 100%;
  width: 50%;
}

.Header__p {
  transition: color 500ms ease-out;
}
